.topnav {
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    line-height: 50px;
    font-size: medium;
    font-weight: lighter;
    color: #ccb2c9;
    list-style-type: none;


    .topnav li{
      display: inline-block;
      margin: 0 20px;
      cursor: pointer;
      transition: transform 0.5s;


      .topnav a{
        line-height: 50px;
        font-size: medium;
        font-weight: lighter;
        color: #ccb2c9;
        padding: 0 15px;
        margin: 0 20px;
      }

    }
  }
  
  /* Style the links inside the navigation bar */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    transform: translateX(5%) translateY(-10%);
    color: #9b67a6;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    transform: translateX(5%) translateY(-10%);
  }