.App {
  text-align: center;
  text-rendering: optimizeSpeed;
  background-color: #faf7eb;
  line-height: 1.5;
}

*{
  box-sizing: inherit;
  // background-color: #faf7eb;
  
}

html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Madimi One', 'sans-serif';
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body{
  text-rendering: optimizeSpeed;
  
  line-height: 1.5;
}

.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* if not wanna use width 1200 */
.grid__full-width{  
  width: 100%;
}

/* if wanna lie on a same row */
.grid__row{
  display: flex;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #faf7eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}
